<!--First background img-->
<section class="about-bg1">
	
	<div class="flex">
		<h1 class="about-intro">Scroll Down to learn more!</h1>
	</div>
	
	<div class="textBox1" data-aos="fade-right">
		<h1 class="title-text">Your Home in the Age of Technology</h1>
		<p class="text">The smartphones we carry around in our pockets are powerful tools that make life easier, and every advancement in technology enhances their impressive capabilities. The next big step forward for this type of "smart" technology is into our homes. Utilizing integrated technological systems in your home is one of the most significant new trends in digital innovation. Right now is the best time to start reaping the benefits of these capabilities.
		
    Transitioning to a smarter home can improve your control over every aspect of how your house operates, and increase the safety and accessibility of it as well. Additionally, you can reap the benefits of a more efficient home, leading to savings in your energy and upkeep costs!</p>
	</div>
	<div class="textBox2" data-aos="fade-left">
		<h1 class="title-text">Accessibility</h1>
		<p class="text">
			If you have friends or family members who are elderly or disabled, you know how difficult even the most basic everyday task can be for them. Smart home technology can greatly increase their quality of life, and utilizing voice commands can make the learning curve much easier for someone unfamiliar with computers.
			
			Setting up automated systems for activities like lawn care removes unnecessary stress from the lives of these individuals. As the technology moves forward, more and more difficult tasks will become accessible, improving flexibility and independence in housing for people who might not be fully capable of taking care of their homes on their own.
		</p>
	</div>
	<div class="textBox3" data-aos="fade-right">
		<h1 class="title-text">Control at Your Fingertips</h1>
		<p class="text"> By installing appliances in your house, such as a smart oven or a Nest Learning Thermostat, you can now use apps on your mobile device to enjoy complete control of your home's functions from anywhere in the world. Did you leave your home and forget to turn your oven off? Air conditioner still running at home while you're on vacation? No need to stress. You can quickly and easily power off these appliances in seconds from the respective accompanying apps
		
     There are no limitations to the apps that are coming to market everyday. Developers have created apps and devices to control home stereos, water usage, lighting, lawn care, garage doors, your dog's food dish, and even grocery shopping - all easily and readily controlled by the phone you already have in your pocket.
		</p>
	</div>
	<div class="textBox4" data-aos="fade-left">
		<h1 class="title-text">Safety</h1>
		<p class="text">
			Smart homes don't just allow us to avert accidental house fires from unattended ovens. These homes also allow us to keep our loved ones safe. Security systems can be installed that allow owners to monitor the comings and goings of guests and alert you when suspicious activity is detected. Doors can be locked, security systems armed, and cameras monitored from your phone, creating a safer and more secure environment for you and your family.
			
			For those of you with children, or those caring for elderly parents, these tools can make your life exponentially easier and give you peace of mind. Alerts can be sent to your phone when members of your family leave your house, and you can even keep track of where they go after they leave.
		</p>
	</div>
</section>



<!--Scrolling img-->
<section class="about-parallax arrow-loc">
</section>

<!--Second background img-->
<section class="about-bg2">
	<div class="textBox5" data-aos="fade-right">
		<h1 class="title-text">Energy Efficiency</h1>
		<p class="text">
			While many benefits of a smart home include ease and accessibility, there are even more perks to enjoy. Smart home technology allows appliances to work with the least amount of energy needed. For example, induction cook-top stoves now have the intelligence to heat exclusively when a metal pan is placed on top of it. No more burners running uncovered, and no more pans being overheated. Stove tops can even manage a perfect boil while using the least amount of energy possible.
			
			Saving money on that water bill has also never been easier. Certain faucet technology can maximize shower water usage by shaping the individual droplets of water to create a more full and fulfilling shower experience while still using less water than the everyday shower head.
		</p>
	</div>
	<div class="textBox6" data-aos="fade-left">
		<h1 class="title-text">Cost Effectiveness</h1>
		<p class="text">
			If "going green" wasn't enough to pique your interest in smart home technology, the financial savings will get your attention. In a study done by the US Environmental Protection Agency, it was reported that users of smart home technology for thermostat control alone saved anywhere from 10%-30% on their energy bill. Over the course of a year, or 5 years, those savings add up quickly.
			<br>
			Saving money with smart home technologies is simple and easy. Timers and monitors make sure you only use the money and energy you want, and incredibly intelligent occupation detectors insure these products are only active when users are present.
			
			To further your savings, the addition of solar power or other energy transmuting devices can save costs, and help you become more self-sufficient.
			
			Not only do these improvements save on your bill payments, the resale value of your home increases with each addition of these technologies. It may be a chunk of change up front, but these additions soon pay for themselves.
		</p>
	</div>
	<div class="textBox7" data-aos="fade-right">
		<h1 class="title-text">The Future</h1>
		<p class="text">
			
			While some technologies are only in early development, the future is already here. Some elements of a smart home may require significant investment with long-term rewards. Others are simple, affordable, and can impact your home now. Making small changes to your home's functionality can help you embrace the larger ones to come, and enjoy the potential savings that add up.
		</p>
	</div>
</section>










