<body>

	<section class="service-bg servicesCol" >
		<div class="service-img1"></div>
		<div class="left-Col">
			<div>
				<a href = "https://www.directenergy.com/home-services" target="_blank" class="service-text"><div class="service1"></div></a>
			</div>
			<div>
				<a href = "http://smarthomeinstallers.homesecuritylhz.com/" target="_blank" class="service-text"><div class="service2"></div></a>
			</div>
			<div>
				<a href = "http://www.shs-mt.com/" target="_blank" class="service-text"><div class="service3"></div></a>
			</div>
			<div>
				<a href = "https://www.vivint.com/" target="_blank" class="service-text"><div class="service4"></div></a>
			</div>
			<div>
				<a href = "https://www.travelers.com/resources/home/safety/5-smart-home-automation-safety-tips.aspx" target="_blank" class="service-text"><div class="service9"></div></a>
			</div>
		</div>
		<div class="right-Col">
			<div>
				<a href = "http://yourhomesecuritywatch.com/wink-company-information/" target="_blank" class="service-text"><div class="service5"></div></a>
			</div>
			<div>
				<a href = "http://www.ihome.asia/smart-switches/" target="_blank" class="service-text"><div class="service6"></div></a>
			</div>
			<div>
				<a href = "http://august.com/" target="_blank" class="service-text"><div class="service7"></div></a>
			</div>
			<div>
				<a href = "http://www.smartintegrators.com/" target="_blank" class="service-text"><div class="service8"></div></a>
			</div>
			<div>
				<a href = "https://nest.com/" target="_blank" class="service-text"><div class="service10"></div></a>
			</div>
		</div>
	</section>

	

</body>
